body {
    font-size: 48pt;
}

.expr {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.expr-mouseover {
    outline: dashed 3px rgba(100,100,255,.5);
}
.expr-dragenter {
    outline: dashed 3px rgba(255,100,100,.5);
}
.expr-selected, .expr-mouseover.expr-selected {
    outline: dashed 3px rgba(50,50,255,.75);
}

.fix {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}
.expr hr {
    margin: 0px;
}

.text {
    pointer-events: none;
}

