html, body {
    margin: 0;
    height: 100%;
}

.cas {
    font-size: 48pt;
    display: flex;
    flex-direction: column;
    height: 90%;
}

.cas > div {
    margin: 18px;
}

.cas hr {
    margin: 0px;
}

.cas ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


.term {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
}

.term-mouseover {
    outline: dashed 3px rgba(100,100,255,.5);
}

.term-dragenter {
    outline: dashed 3px rgba(255,100,100,.5);
}

.term-selected, .term-mouseover.term-selected {
    outline: dashed 3px rgba(50,50,255,.75);
}


.errors {
    overflow: auto;
    white-space: nowrap;
}

.error:first-child {
    color: red;
}

.error {
    color: indianred;
}

